body{

  font-size: 1.4rem;
  font-family: "PT Sans",Arial,sans-serif;
  max-width: 1800px;
  margin: 0 auto;
}
a{
  display: flex;
  color: #004b93;
  text-decoration: none;
  border: none;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;


}
li {
  list-style-type: none;
}

/* ----header---- */
.header{
  height: 200px;
  width: 1200px;
  border-radius: 5px;
  position: relative;
  text-align: center;
  margin: 0 auto;
  background-color: #9cf0e7;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.5);
}
.conteiner{
 display: flex;
 width: 1200px;
}

/* ----nav---- */
.nav{
  display: flex;
}
.link{
  width: 33.333333%;
  }
.subnav{
  display: flex;
  border-radius: 5px;
  background-color: #9cf0e7;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.5);
}
.name{
  height:  25px;
  font-weight: 600;
  line-height: 20px;
  font-size: 15px;
    border-radius: 5px;
  text-transform: uppercase;
  color: #004b93;
  background-color: #9cf0e7;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.5);
}
.subnav_ul{
  display: none;
  font-size: 15px;
  padding: 5px;
  text-align: left;

}
.link:hover .subnav_ul{
  display: block;
}
.img{
  margin: 5px;
  width: 15px;
  height: 15px;
}

/* ----content---- */
.content{
  top: 100px;
  width: 1200px;

  position: relative;
  margin: 0 auto;
}
